In [1]:
import pandas as pd

In [6]:
data=pd.read_csv("./password_db.csv")

In [15]:
data

,category,subcateogry,microcategory,title,username,password,link,data
0,Company,NaN,NaN,Google,arindam@vassarlabs.com,Arindam@22,google.com,NaN
1,Personal,None,None,Google,arindamsharma1998@gmail.com,test1,google.com,None
2,Personal,None,None,Google,arindamsharma18@gmail.com,test1,google.com,None
3,Personal,None,None,Google,gamemyboy22@gmail.com,test3,google.com,None
4,Company,None,None,Jira,arindam@vassarlabs.com,test3,jira.com,None

In [14]:
data.loc[len(data)]=["Company",None,None,"Jira","arindam@vassarlabs.com","test3","jira.com",None]

In [16]:
data.to_csv("./password_db.csv",index=False)